{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<h3>Смена пароля</h3>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ user_absolute_url }}">Профиль</a></li>
      <li class="breadcrumb-item"><a href="{% url 'account_change_password' %}">Сменить пароль</a></li>
      <li class="breadcrumb-item"><a href="{% url 'account_logout' %}">Выйти</a></li>
    </ol>
</nav>

<form method="post">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-warning">Сменить пароль</button>
</form>

{% endblock content %}