{% extends 'base.html' %}

{% block content %}
<h3>Регистрация</h3>

<form method="post">
    {% csrf_token %}
    <label for="id_username">Имя пользователя:</label>
    <input class="form-control" type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">

    <label for="id_password1">Пароль:</label>
    <input class="form-control" type="password" name="password1" autocomplete="new-password" required="" id="id_password1">

    <label for="id_password2">Подтверждение пароля:</label>
    <input class="form-control" type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
    <br>
    <input class="btn btn-warning" type="submit" value="Зарегистрироваться">

</form>

{% endblock content %}