{% extends 'base.html' %}

{% block content %}
  <div class="product-model">
    <div class="product-header">
      <h3>{{ product.name }}</h3>
    </div>
    <div class="product-image-container">
      <img src="{{ product.imageforproduct_set.first.img_product.url }}" alt="{{ product.name }}" class="product-image">
      <ul class="product-thumbnails">
        {% for image in product.imageforproduct_set.all %}
          <li><img src="{{ image.img_product.url }}" alt="{{ product.name }}" class="thumbnail"></li>
        {% endfor %}
      </ul>
    </div>
    <div class="product-info">
      <p class="product-price">{{ product.price }} рублей</p>
      <p class="product-category">{{ product.category.name }}</p>
    </div>
    <div class="product-description">
      <p>{{ product.description }}</p>
    </div>
  </div>
  <a href="#"><button type="button" class="btn btn-warning">Добавить в корзину</button></a>
  <script>
    const productImageContainer = document.querySelector('.product-image-container');
    const productImage = document.querySelector('.product-image');
    const productThumbnails = document.querySelectorAll('.thumbnail');
    
    productThumbnails.forEach(thumbnail => {
      thumbnail.addEventListener('click', function() {
        productImage.src = this.src;
      });
    });
    </script>
{% endblock content %}
